<section class="home">
  <section class="header">
    <nav class="nav">
      <div class="navbar">
        <div class="navbar-brand">
          <h3>Beekel Farms Kennel</h3>
        </div>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
        </ul>
      </div>
    </nav>
    <header class="hero">
      <div class="logo-img">
        <img src="app/img/logo.png" alt="">
      </div>
    </header>
  </section>

  <main>
    <section class="intro">
      <div class="title-container">
        <h1 class="title">Your Pet Deserves Perfect Care While Having Fun</h1>
        <h3 class="subtitle">From doggie daycare to overnight boarding and grooming services</h3>

        <ul class="work-list">
          <h4>What we have for dogs</h4>
          <li class="work-item"><i class="fas fa-paw paw-icon"></i> <span class="work-item-description">Trained staff with over 15 years of experience</span></li>
          <li class="work-item"><i class="fas fa-paw paw-icon"></i> <span class="work-item-description">Clean, well-ventilated indoor / outdoor runs</span></li>
          <li class="work-item"><i class="fas fa-paw paw-icon"></i> <span class="work-item-description">Heated and air-conditioned inside</span></li>
          <li class="work-item"><i class="fas fa-paw paw-icon"></i> <span class="work-item-description">Secure military prototype fencing</span></li>
          <li class="work-item"><i class="fas fa-paw paw-icon"></i> <span class="work-item-description">Special bath price and free nail trim upon request for boarding customers only</span></li>
          <li class="work-item"><i class="fas fa-paw paw-icon"></i> <span class="work-item-description">Secure, grassy, large, turnout area is an additional option per owner's request</span></li>
        </ul>
      </div>

      <div class="intro-pic">
        <img src="app/img/twin-dogs.jpg" alt="">
      </div>
    </section>

    <section class="services">
      <section class="services-container">
        <h1>Services</h1>

        <div class="services-cards">
          <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <h3 class="card-title">Day Care</h3>
            <p class="card-body">Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <h3 class="card-title">Dog Boarding</h3>
            <p class="card-body">Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
          <div class="uk-card uk-card-default uk-card-body uk-card-hover">
            <h3 class="card-title">Grooming</h3>
            <p class="card-body">Lorem ipsum sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </section>
    </section>
  </main>

  <footer>

  </footer>
</section>